*, *:before, *:after
  box-sizing: border-box

body
  width: 100%
  margin: auto
  color: #363636
  font-family: Open Sans, sans-serif

.header
  display: flex
  align-items: center
  max-width: 1200px
  margin: 0 auto
  padding: 20px 10px
  background-color: #FFFFFF
  color: #608FC5

  nav
    flex: 1
    text-align: right
    font-weight: 700

    a
      margin-left: 30px

      &:hover
        color: #90b1d6
