.bio-section
  background-color: #eee
  padding: 40px 40px

  > *
    max-width: 1200px
    margin: 0 auto

  p
    margin-top: 0
    margin-bottom: 0

  .section-content
    display: flex
    justify-content: center

    +below(tablet-width)
      flex-direction: column

    .portrait
      flex-basis: 50%
      margin: auto
      text-align: center
      padding-right: 30px

      +below(tablet-width)
        padding-right: 0
        padding-bottom: 20px

      img
        width:  175px

    .text
      padding-right: 10px
      align-items: flex-end
      margin-right: 5%
      margin: 50px 0

      +below(tablet-width)
        margin: 0 5%
        padding-right: 0
