.bio-section
  background-color: #eee

  p
    margin-top: 0
    margin-bottom: 0

  .section-content
    padding: 0 15% 25px 15%
    display: flex
    justify-content: center

    +below(tablet-width)
      flex-direction: column

    .portrait
      flex-basis: 50%
      margin: auto
      text-align: center

      +below(tablet-width)
        padding-bottom: 20px

      img
        margin: 0 30px
        width:  175px

    .text
      padding-right: 10px
      align-items: flex-end
      margin-right: 5%
      margin: 50px 0

      +below(tablet-width)
        margin: 0 5%
        padding-right: 0
