footer
  padding: 40px 40px 0 40px
  background-color: #608FC5
  color: #FFFFFF

  > *
    max-width: 1200px
    margin: 0 auto

  .logo
    padding-bottom: 20px

  .social-media *
    display: inline-block

  .social-media
    padding-bottom: 20px

    .twitter
      padding: 0 15px

.footer-amazon-link
    img
      width: 150px
