footer
  padding: 40px 40px
  background-color: #608FC5
  color: #FFFFFF

  > *
    max-width: 1200px
    margin: 0 auto

  .logo
    padding-bottom: 30px

  .social-media *
    display: inline-block

  .social-media
    padding-bottom: 10px

    .twitter
      padding: 0 15px
