.hero
  flex: 1 0 auto
  position: relative

  img
    width: 100%

  h2
    text-align: center
    color: #608FC5
    margin-top: 0
    font-size: 1.3em

    +below(tablet-width)
      font-size: 0.9em

    &:hover
      color: #90b1d6

  a
    text-decoration: none

.hero-amazon-link
    position: relative
    width: 300px
    padding-top: 20px
    margin: auto

    +below(tablet-width)
      width: 200px

    img
      border-radius: 3px
