.inspiration-section
  background-color: #eee
  padding-bottom: 25px

  .section-header
    width: 75%

  p
    margin-left: auto
    margin-right: auto
    padding: 0 20%

    +below(tablet-width)
      font-size: 1em
      padding: 0 5%

  .quote-source
    text-align: center
